In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as mpl
import re

In [3]:
YEAR = '2023'
#rushing receiving scoring downs tackles 
# fumbles interceptions field-goals sociring 
# kickoff kickoff-returns punting punt-returns
STAT_TYPE = 'passing' 
OFFENSE_DEFENSE = 'offense' #defense

URL = f'https://www.nfl.com/stats/team-stats/{OFFENSE_DEFENSE}/{STAT_TYPE}/{YEAR}/reg/all'

page = requests.get(URL)
html = page.content
soup = BeautifulSoup(html, "html.parser")

In [4]:
table_name = "d3-o-table d3-o-table--detailed d3-o-team-stats--detailed d3-o-table--sortable {sortlist: [[0,0]], sortinitialorder: 'asc'}"

table = soup.find("table", class_=table_name)

print(table)

<table class="d3-o-table d3-o-table--detailed d3-o-team-stats--detailed d3-o-table--sortable {sortlist: [[0,0]], sortinitialorder: 'asc'}" data-require="modules/tableSortable">
<thead>
<tr>
<th>Team</th>
<th scope="col">Att</th>
<th scope="col">Cmp</th>
<th scope="col">Cmp %</th>
<th scope="col">Yds/Att</th>
<th scope="col">Pass Yds</th>
<th scope="col">TD</th>
<th scope="col">INT</th>
<th scope="col">Rate</th>
<th scope="col">1st</th>
<th scope="col">1st%</th>
<th scope="col">20+</th>
<th scope="col">40+</th>
<th scope="col">Lng</th>
<th scope="col">Sck</th>
<th scope="col">SckY</th>
</tr>
</thead>
<tbody>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/WAS"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/WAS"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/WAS"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/WAS"/></picture>
</div>
<div class="d3-o-club-fullname">
            Commanders

          </div>
<div class="d3-o-club-shortname">
            Commanders

          </div>
</div>
</td>
<td>
                    636
                  </td>
<td>
                    407
                  </td>
<td>
                    64
                  </td>
<td>
                    6.6
                  </td>
<td>
                    4174
                  </td>
<td>
                    24
                  </td>
<td>
                    21
                  </td>
<td>
                    81.6
                  </td>
<td>
                    190
                  </td>
<td>
                    29.9
                  </td>
<td>
                    48
                  </td>
<td>
                    5
                  </td>
<td>
                    51T
                  </td>
<td>
                    65
                  </td>
<td>
                    449
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/KC"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/KC"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/KC"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/KC"/></picture>
</div>
<div class="d3-o-club-fullname">
            Chiefs

          </div>
<div class="d3-o-club-shortname">
            Chiefs

          </div>
</div>
</td>
<td>
                    635
                  </td>
<td>
                    421
                  </td>
<td>
                    66.3
                  </td>
<td>
                    6.9
                  </td>
<td>
                    4383
                  </td>
<td>
                    28
                  </td>
<td>
                    17
                  </td>
<td>
                    89.6
                  </td>
<td>
                    216
                  </td>
<td>
                    34
                  </td>
<td>
                    52
                  </td>
<td>
                    8
                  </td>
<td>
                    67T
                  </td>
<td>
                    28
                  </td>
<td>
                    195
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LAC"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LAC"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LAC"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LAC"/></picture>
</div>
<div class="d3-o-club-fullname">
            Chargers

          </div>
<div class="d3-o-club-shortname">
            Chargers

          </div>
</div>
</td>
<td>
                    632
                  </td>
<td>
                    409
                  </td>
<td>
                    64.7
                  </td>
<td>
                    6.8
                  </td>
<td>
                    4312
                  </td>
<td>
                    24
                  </td>
<td>
                    8
                  </td>
<td>
                    91.8
                  </td>
<td>
                    204
                  </td>
<td>
                    32.3
                  </td>
<td>
                    55
                  </td>
<td>
                    7
                  </td>
<td>
                    79
                  </td>
<td>
                    43
                  </td>
<td>
                    355
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIN"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIN"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIN"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIN"/></picture>
</div>
<div class="d3-o-club-fullname">
            Vikings

          </div>
<div class="d3-o-club-shortname">
            Vikings

          </div>
</div>
</td>
<td>
                    631
                  </td>
<td>
                    424
                  </td>
<td>
                    67.2
                  </td>
<td>
                    7.4
                  </td>
<td>
                    4700
                  </td>
<td>
                    30
                  </td>
<td>
                    19
                  </td>
<td>
                    92.4
                  </td>
<td>
                    220
                  </td>
<td>
                    34.9
                  </td>
<td>
                    74
                  </td>
<td>
                    7
                  </td>
<td>
                    62T
                  </td>
<td>
                    47
                  </td>
<td>
                    341
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/></picture>
</div>
<div class="d3-o-club-fullname">
            Browns

          </div>
<div class="d3-o-club-shortname">
            Browns

          </div>
</div>
</td>
<td>
                    624
                  </td>
<td>
                    355
                  </td>
<td>
                    56.9
                  </td>
<td>
                    6.4
                  </td>
<td>
                    4011
                  </td>
<td>
                    24
                  </td>
<td>
                    23
                  </td>
<td>
                    73.7
                  </td>
<td>
                    173
                  </td>
<td>
                    27.7
                  </td>
<td>
                    53
                  </td>
<td>
                    15
                  </td>
<td>
                    75
                  </td>
<td>
                    45
                  </td>
<td>
                    318
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/JAX"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/JAX"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/JAX"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/JAX"/></picture>
</div>
<div class="d3-o-club-fullname">
            Jaguars

          </div>
<div class="d3-o-club-shortname">
            Jaguars

          </div>
</div>
</td>
<td>
                    620
                  </td>
<td>
                    412
                  </td>
<td>
                    66.4
                  </td>
<td>
                    7.1
                  </td>
<td>
                    4377
                  </td>
<td>
                    22
                  </td>
<td>
                    14
                  </td>
<td>
                    89.3
                  </td>
<td>
                    199
                  </td>
<td>
                    32.1
                  </td>
<td>
                    51
                  </td>
<td>
                    10
                  </td>
<td>
                    65T
                  </td>
<td>
                    41
                  </td>
<td>
                    251
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CIN"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CIN"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CIN"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CIN"/></picture>
</div>
<div class="d3-o-club-fullname">
            Bengals

          </div>
<div class="d3-o-club-shortname">
            Bengals

          </div>
</div>
</td>
<td>
                    615
                  </td>
<td>
                    420
                  </td>
<td>
                    68.3
                  </td>
<td>
                    6.9
                  </td>
<td>
                    4257
                  </td>
<td>
                    27
                  </td>
<td>
                    14
                  </td>
<td>
                    93
                  </td>
<td>
                    208
                  </td>
<td>
                    33.8
                  </td>
<td>
                    46
                  </td>
<td>
                    10
                  </td>
<td>
                    80
                  </td>
<td>
                    50
                  </td>
<td>
                    362
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/></picture>
</div>
<div class="d3-o-club-fullname">
            Cowboys

          </div>
<div class="d3-o-club-shortname">
            Cowboys

          </div>
</div>
</td>
<td>
                    614
                  </td>
<td>
                    428
                  </td>
<td>
                    69.7
                  </td>
<td>
                    7.6
                  </td>
<td>
                    4660
                  </td>
<td>
                    36
                  </td>
<td>
                    10
                  </td>
<td>
                    104.6
                  </td>
<td>
                    229
                  </td>
<td>
                    37.3
                  </td>
<td>
                    64
                  </td>
<td>
                    7
                  </td>
<td>
                    92T
                  </td>
<td>
                    40
                  </td>
<td>
                    263
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/></picture>
</div>
<div class="d3-o-club-fullname">
            Lions

          </div>
<div class="d3-o-club-shortname">
            Lions

          </div>
</div>
</td>
<td>
                    606
                  </td>
<td>
                    408
                  </td>
<td>
                    67.3
                  </td>
<td>
                    7.6
                  </td>
<td>
                    4606
                  </td>
<td>
                    30
                  </td>
<td>
                    12
                  </td>
<td>
                    98.1
                  </td>
<td>
                    228
                  </td>
<td>
                    37.6
                  </td>
<td>
                    70
                  </td>
<td>
                    9
                  </td>
<td>
                    70T
                  </td>
<td>
                    31
                  </td>
<td>
                    205
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/></picture>
</div>
<div class="d3-o-club-fullname">
            Saints

          </div>
<div class="d3-o-club-shortname">
            Saints

          </div>
</div>
</td>
<td>
                    606
                  </td>
<td>
                    406
                  </td>
<td>
                    67
                  </td>
<td>
                    7
                  </td>
<td>
                    4225
                  </td>
<td>
                    28
                  </td>
<td>
                    11
                  </td>
<td>
                    94.8
                  </td>
<td>
                    199
                  </td>
<td>
                    32.8
                  </td>
<td>
                    52
                  </td>
<td>
                    11
                  </td>
<td>
                    58T
                  </td>
<td>
                    35
                  </td>
<td>
                    235
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NYJ"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NYJ"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NYJ"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NYJ"/></picture>
</div>
<div class="d3-o-club-fullname">
            Jets

          </div>
<div class="d3-o-club-shortname">
            Jets

          </div>
</div>
</td>
<td>
                    601
                  </td>
<td>
                    356
                  </td>
<td>
                    59.2
                  </td>
<td>
                    5.6
                  </td>
<td>
                    3373
                  </td>
<td>
                    11
                  </td>
<td>
                    15
                  </td>
<td>
                    70.5
                  </td>
<td>
                    156
                  </td>
<td>
                    26
                  </td>
<td>
                    37
                  </td>
<td>
                    3
                  </td>
<td>
                    68T
                  </td>
<td>
                    64
                  </td>
<td>
                    454
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/HOU"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/HOU"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/HOU"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/HOU"/></picture>
</div>
<div class="d3-o-club-fullname">
            Texans

          </div>
<div class="d3-o-club-shortname">
            Texans

          </div>
</div>
</td>
<td>
                    592
                  </td>
<td>
                    372
                  </td>
<td>
                    62.8
                  </td>
<td>
                    7.7
                  </td>
<td>
                    4578
                  </td>
<td>
                    27
                  </td>
<td>
                    8
                  </td>
<td>
                    96.2
                  </td>
<td>
                    215
                  </td>
<td>
                    36.3
                  </td>
<td>
                    69
                  </td>
<td>
                    10
                  </td>
<td>
                    75
                  </td>
<td>
                    47
                  </td>
<td>
                    405
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CAR"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CAR"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CAR"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CAR"/></picture>

In [5]:
columns = soup.findAll('th')

print(columns)

[<th>Team</th>, <th scope="col">Att</th>, <th scope="col">Cmp</th>, <th scope="col">Cmp %</th>, <th scope="col">Yds/Att</th>, <th scope="col">Pass Yds</th>, <th scope="col">TD</th>, <th scope="col">INT</th>, <th scope="col">Rate</th>, <th scope="col">1st</th>, <th scope="col">1st%</th>, <th scope="col">20+</th>, <th scope="col">40+</th>, <th scope="col">Lng</th>, <th scope="col">Sck</th>, <th scope="col">SckY</th>]

In [6]:
def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '',text)

titles = ()

for i in columns:
    x = remove_html_tags(str(i))
    l = list(titles)
    if x != "None":
        t = x.replace('\n', '')
        l.append(t)
        titles = tuple(l)

print(titles)

('Team', 'Att', 'Cmp', 'Cmp %', 'Yds/Att', 'Pass Yds', 'TD', 'INT', 'Rate', '1st', '1st%', '20+', '40+', 'Lng', 'Sck', 'SckY')

In [7]:
df = pd.DataFrame(columns=['Team', 'Pass Att', 'Cmp','Cmp %', 'Pass Yds/Att',
                           'Pass Yds','Pass TD', 'INT', 'Pass 1st',
                           'Pass 1st%', 'Pass 20+', 'Pass 40+', 'Pass Lng', 'Sck', 'SckY'])

In [8]:
n = 'd3-o-club-shortname'

for row in table.find_all('tr'):
    c = row.find_all('td')
    
    
    if (c != []):
        n = remove_html_tags(str(c[0])).replace('\n','')
        name = remove_html_tags(str(c[0])).replace('\n','')
        att = remove_html_tags(str(c[1])).replace('\n','')
        comp = remove_html_tags(str(c[2])).replace('\n','')
        cmpPer = remove_html_tags(str(c[3])).replace('\n','')
        ydsPatt = remove_html_tags(str(c[4])).replace('\n','')
        pYds = remove_html_tags(str(c[5])).replace('\n','')
        td = remove_html_tags(str(c[6])).replace('\n','')
        interceptions = remove_html_tags(str(c[7])).replace('\n','')
        first = remove_html_tags(str(c[9])).replace('\n','')
        firstPerc = remove_html_tags(str(c[10])).replace('\n','')
        twentyP = remove_html_tags(str(c[11])).replace('\n','')
        fourtyP = remove_html_tags(str(c[12])).replace('\n','')
        lng = remove_html_tags(str(c[13])).replace('\n','')
        sck = remove_html_tags(str(c[14])).replace('\n','')
        sckY = remove_html_tags(str(c[15])).replace('\n','')
        
        
        df = pd.concat([df, pd.DataFrame.from_records([{'Team': name, 'Pass Att': att, 'Cmp': comp, 'Cmp%': cmpPer,
                                                        'Pass Yds/Att': ydsPatt, 'Pass Yds': pYds, 'Pass TD': td, 'INT': interceptions,
                                                         'Pass 1st': first, 'Pass 1st%': firstPerc,'Pass 20+': twentyP,
                                                         'Pass 40+': fourtyP,'Pass Lng': lng, 'Sck': sck,
                                                         'SckY': sckY}])], ignore_index=True)


df.head()

,Team,Pass Att,Cmp,Cmp %,Pass Yds/Att,Pass Yds,Pass TD,INT,Pass 1st,Pass 1st%,Pass 20+,Pass 40+,Pass Lng,Sck,SckY,Cmp%
0,Commanders ...,636,407,NaN,6.6,4174,24,21,190,29.9,48,5,51T,65,449,64
1,Chiefs ...,635,421,NaN,6.9,4383,28,17,216,34,52,8,67T,28,195,66.3
2,Chargers ...,632,409,NaN,6.8,4312,24,8,204,32.3,55,7,79,43,355,64.7
3,Vikings ...,631,424,NaN,7.4,4700,30,19,220,34.9,74,7,62T,47,341,67.2
4,Browns ...,624,355,NaN,6.4,4011,24,23,173,27.7,53,15,75,45,318,56.9

passer_rating is used to determine the teams overall passer rating

In [ ]:
def passer_rating(comp, attempts, tds, yards, inrcpts):
    return round(((((comp / attempts) - 0.3) * 5) 
                  + (((yards / attempts) - 3) * 0.25) + ((tds / attempts) * 20) 
                  + (2.375 - ((inrcpts / attempts) * 25))) / (6/100), 2)

In [9]:
df.drop(df.columns[3], axis=1)

,Team,Att,Cmp,Yds/Att,Pass Yds,TD,INT,Rate,1st,1st%,20+,40+,Lng,Sck,SckY,Cmp%
0,Commanders ...,636,407,6.6,4174,24,21,81.6,190,29.9,48,5,51T,65,449,64
1,Chiefs ...,635,421,6.9,4383,28,17,89.6,216,34,52,8,67T,28,195,66.3
2,Chargers ...,632,409,6.8,4312,24,8,91.8,204,32.3,55,7,79,43,355,64.7
3,Vikings ...,631,424,7.4,4700,30,19,92.4,220,34.9,74,7,62T,47,341,67.2
4,Browns ...,624,355,6.4,4011,24,23,73.7,173,27.7,53,15,75,45,318,56.9
5,Jaguars ...,620,412,7.1,4377,22,14,89.3,199,32.1,51,10,65T,41,251,66.4
6,Bengals ...,615,420,6.9,4257,27,14,93,208,33.8,46,10,80,50,362,68.3
7,Cowboys ...,614,428,7.6,4660,36,10,104.6,229,37.3,64,7,92T,40,263,69.7
8,Lions ...,606,408,7.6,4606,30,12,98.1,228,37.6,70,9,70T,31,205,67.3
9,Saints ...,606,406,7,4225,28,11,94.8,199,32.8,52,11,58T,35,235,67
10,Jets ...,601,356,5.6,3373,11,15,70.5,156,26,37,3,68T,64,454,59.2
11,Texans ...,592,372,7.7,4578,27,8,96.2,215,36.3,69,10,75,47,405,62.8
12,Panthers ...,586,350,5.5,3245,13,10,75.2,150,25.6,31,5,48T,65,504,59.7
13,Rams ...,583,361,7.4,4300,26,13,90,206,35.3,64,8,80,34,237,61.9
14,Packers ...,581,374,7.2,4210,32,11,96.4,211,36.3,56,7,77,30,242,64.4
15,Bills ...,579,385,7.4,4306,29,18,92.2,199,34.4,49,9,81T,24,152,66.5
16,Seahawks ...,575,371,7.2,4167,23,12,90.7,189,32.9,56,6,73T,38,257,64.5
17,Colts ...,574,355,6.8,3882,18,10,85,178,31,45,11,75,41,216,61.8
18,Buccaneers ...,568,364,7.1,4044,28,10,94.2,188,33.1,60,12,75T,40,232,64.1
19,Dolphins ...,566,393,8.3,4698,30,15,101.2,223,39.4,59,12,78,31,184,69.4
20,Eagles ...,563,369,7.2,4067,24,16,89.2,197,35,50,7,63T,39,233,65.5
21,Raiders ...,557,348,6.6,3666,20,18,80.1,182,32.7,35,5,50T,40,286,62.5
22,Patriots ...,557,351,6.1,3392,16,21,73.8,153,27.5,34,4,58T,48,323,63
23,Cardinals ...,555,355,6.2,3430,18,12,82.9,173,31.2,38,3,69T,42,286,64
24,Falcons ...,530,327,7.1,3775,17,17,80.5,181,34.2,46,10,75,40,251,61.7
25,Giants ...,518,338,6.5,3351,15,12,83.4,141,27.2,44,7,80T,85,465,65.2
26,Bears ...,513,321,6.7,3421,19,15,82.2,169,32.9,48,5,58,50,325,62.6
27,Broncos ...,513,337,7,3566,28,9,96.7,154,30,44,13,60,52,304,65.7
28,Steelers ...,506,323,6.8,3421,13,9,84.6,153,30.2,41,9,86,36,258,63.8
29,Ravens ...,494,328,7.9,3881,27,7,102.5,180,36.4,52,9,80T,41,246,66.4
30,Titans ...,494,304,7.1,3512,14,11,83.2,158,32,54,10,70,64,445,61.5
31,49ers ...,491,336,9.3,4577,33,12,110.2,207,42.2,75,15,76T,34,193,68.4

In [ ]:
#df.to_csv('team_passing.csv')

In [12]:
data =pd.read_csv('team_passing.csv')

dataframe = pd.DataFrame(data)

dataframe.drop(dataframe.columns[1], axis=1)

dataframe.head()

,Team,Pass Att,Cmp,Cmp%,Pass Yds/Att,Pass Yds,Pass TD,INT,Pass 1st,Pass 1st%,Pass 20+,Pass 40+,Pass Lng,Sck,SckY
0,Commanders,636,407,64.0,6.6,4174,24,21,190,29.9,48,5,51,65,449
1,Chiefs,635,421,66.3,6.9,4383,28,17,216,34.0,52,8,67,28,195
2,Chargers,632,409,64.7,6.8,4312,24,8,204,32.3,55,7,79,43,355
3,Vikings,631,424,67.2,7.4,4700,30,19,220,34.9,74,7,62,47,341
4,Browns,624,355,56.9,6.4,4011,24,23,173,27.7,53,15,75,45,318

In [14]:
for i, r in dataframe.iterrows():
   # df['Pass Rating'][i] = passer_rating(r['Cmp'], r['Att'], r['TD'], r['Pass Yds'], r['INT'])
   dataframe.loc[i, "Pass Rating"] = passer_rating(r['Cmp'], r['Pass Att'], r['Pass TD'], r['Pass Yds'], r['INT'])

print(dataframe['Pass Rating'])

0      81.58
1      89.64
2      91.82
3      92.42
4      73.74
5      89.29
6      92.98
7     104.55
8      98.11
9      94.80
10     70.53
11     96.24
12     75.21
13     89.99
14     96.39
15     92.22
16     90.68
17     85.00
18     94.25
19    101.16
20     89.17
21     80.08
22     73.84
23     82.94
24     80.50
25     83.41
26     82.18
27     96.67
28     84.60
29    102.46
30     83.16
31    110.17
Name: Pass Rating, dtype: float64

In [15]:
dataframe.to_csv('team_passing.csv')

Now have a passer rating stat to use