Notebook for looking at 2023 Team rushing stats. Trying to find a way to point out who was statistically the best

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as mpl
import re

In [2]:
YEAR = '2023'
#rushing receiving scoring downs tackles 
# fumbles interceptions field-goals sociring 
# kickoff kickoff-returns punting punt-returns
STAT_TYPE = 'rushing' 
OFFENSE_DEFENSE = 'offense' #defense

URL = f'https://www.nfl.com/stats/team-stats/{OFFENSE_DEFENSE}/{STAT_TYPE}/{YEAR}/reg/all'

page = requests.get(URL)
html = page.content
soup = BeautifulSoup(html, "html.parser")

In [3]:
table_name = "d3-o-table d3-o-table--detailed d3-o-team-stats--detailed d3-o-table--sortable {sortlist: [[0,0]], sortinitialorder: 'asc'}"

table = soup.find("table", class_=table_name)

print(table)

<table class="d3-o-table d3-o-table--detailed d3-o-team-stats--detailed d3-o-table--sortable {sortlist: [[0,0]], sortinitialorder: 'asc'}" data-require="modules/tableSortable">
<thead>
<tr>
<th>Team</th>
<th scope="col">Att</th>
<th scope="col">Rush Yds</th>
<th scope="col">YPC</th>
<th scope="col">TD</th>
<th scope="col">20+</th>
<th scope="col">40+</th>
<th scope="col">Lng</th>
<th scope="col">Rush 1st</th>
<th scope="col">Rush 1st%</th>
<th scope="col">Rush FUM</th>
</tr>
</thead>
<tbody>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BAL"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BAL"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BAL"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BAL"/></picture>
</div>
<div class="d3-o-club-fullname">
            Ravens

          </div>
<div class="d3-o-club-shortname">
            Ravens

          </div>
</div>
</td>
<td>
                    541
                  </td>
<td>
                    2661
                  </td>
<td>
                    4.9
                  </td>
<td>
                    26
                  </td>
<td>
                    21
                  </td>
<td>
                    4
                  </td>
<td>
                    60
                  </td>
<td>
                    144
                  </td>
<td>
                    26.6
                  </td>
<td>
                    7
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CHI"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CHI"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CHI"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CHI"/></picture>
</div>
<div class="d3-o-club-fullname">
            Bears

          </div>
<div class="d3-o-club-shortname">
            Bears

          </div>
</div>
</td>
<td>
                    534
                  </td>
<td>
                    2399
                  </td>
<td>
                    4.5
                  </td>
<td>
                    16
                  </td>
<td>
                    13
                  </td>
<td>
                    0
                  </td>
<td>
                    39T
                  </td>
<td>
                    137
                  </td>
<td>
                    25.7
                  </td>
<td>
                    5
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ATL"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ATL"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ATL"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ATL"/></picture>
</div>
<div class="d3-o-club-fullname">
            Falcons

          </div>
<div class="d3-o-club-shortname">
            Falcons

          </div>
</div>
</td>
<td>
                    522
                  </td>
<td>
                    2159
                  </td>
<td>
                    4.1
                  </td>
<td>
                    14
                  </td>
<td>
                    11
                  </td>
<td>
                    0
                  </td>
<td>
                    38
                  </td>
<td>
                    121
                  </td>
<td>
                    23.2
                  </td>
<td>
                    13
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CLE"/></picture>
</div>
<div class="d3-o-club-fullname">
            Browns

          </div>
<div class="d3-o-club-shortname">
            Browns

          </div>
</div>
</td>
<td>
                    518
                  </td>
<td>
                    2017
                  </td>
<td>
                    3.9
                  </td>
<td>
                    15
                  </td>
<td>
                    9
                  </td>
<td>
                    3
                  </td>
<td>
                    69
                  </td>
<td>
                    121
                  </td>
<td>
                    23.4
                  </td>
<td>
                    9
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BUF"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BUF"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BUF"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/BUF"/></picture>
</div>
<div class="d3-o-club-fullname">
            Bills

          </div>
<div class="d3-o-club-shortname">
            Bills

          </div>
</div>
</td>
<td>
                    512
                  </td>
<td>
                    2212
                  </td>
<td>
                    4.3
                  </td>
<td>
                    22
                  </td>
<td>
                    9
                  </td>
<td>
                    1
                  </td>
<td>
                    42
                  </td>
<td>
                    158
                  </td>
<td>
                    30.9
                  </td>
<td>
                    9
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PHI"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PHI"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PHI"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PHI"/></picture>
</div>
<div class="d3-o-club-fullname">
            Eagles

          </div>
<div class="d3-o-club-shortname">
            Eagles

          </div>
</div>
</td>
<td>
                    510
                  </td>
<td>
                    2190
                  </td>
<td>
                    4.3
                  </td>
<td>
                    22
                  </td>
<td>
                    11
                  </td>
<td>
                    1
                  </td>
<td>
                    43
                  </td>
<td>
                    149
                  </td>
<td>
                    29.2
                  </td>
<td>
                    9
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DET"/></picture>
</div>
<div class="d3-o-club-fullname">
            Lions

          </div>
<div class="d3-o-club-shortname">
            Lions

          </div>
</div>
</td>
<td>
                    500
                  </td>
<td>
                    2311
                  </td>
<td>
                    4.6
                  </td>
<td>
                    27
                  </td>
<td>
                    15
                  </td>
<td>
                    3
                  </td>
<td>
                    75
                  </td>
<td>
                    124
                  </td>
<td>
                    24.8
                  </td>
<td>
                    7
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/SF"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/SF"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/SF"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/SF"/></picture>
</div>
<div class="d3-o-club-fullname">
            49ers

          </div>
<div class="d3-o-club-shortname">
            49ers

          </div>
</div>
</td>
<td>
                    499
                  </td>
<td>
                    2389
                  </td>
<td>
                    4.8
                  </td>
<td>
                    27
                  </td>
<td>
                    11
                  </td>
<td>
                    3
                  </td>
<td>
                    72
                  </td>
<td>
                    147
                  </td>
<td>
                    29.5
                  </td>
<td>
                    5
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PIT"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PIT"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PIT"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/PIT"/></picture>
</div>
<div class="d3-o-club-fullname">
            Steelers

          </div>
<div class="d3-o-club-shortname">
            Steelers

          </div>
</div>
</td>
<td>
                    487
                  </td>
<td>
                    2010
                  </td>
<td>
                    4.1
                  </td>
<td>
                    16
                  </td>
<td>
                    14
                  </td>
<td>
                    1
                  </td>
<td>
                    74T
                  </td>
<td>
                    115
                  </td>
<td>
                    23.6
                  </td>
<td>
                    9
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/NO"/></picture>
</div>
<div class="d3-o-club-fullname">
            Saints

          </div>
<div class="d3-o-club-shortname">
            Saints

          </div>
</div>
</td>
<td>
                    480
                  </td>
<td>
                    1742
                  </td>
<td>
                    3.6
                  </td>
<td>
                    13
                  </td>
<td>
                    4
                  </td>
<td>
                    0
                  </td>
<td>
                    29
                  </td>
<td>
                    112
                  </td>
<td>
                    23.3
                  </td>
<td>
                    6
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/IND"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/IND"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/IND"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/IND"/></picture>
</div>
<div class="d3-o-club-fullname">
            Colts

          </div>
<div class="d3-o-club-shortname">
            Colts

          </div>
</div>
</td>
<td>
                    479
                  </td>
<td>
                    2059
                  </td>
<td>
                    4.3
                  </td>
<td>
                    19
                  </td>
<td>
                    14
                  </td>
<td>
                    4
                  </td>
<td>
                    56
                  </td>
<td>
                    113
                  </td>
<td>
                    23.6
                  </td>
<td>
                    4
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LA"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LA"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LA"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LA"/></picture>
</div>
<div class="d3-o-club-fullname">
            Rams

          </div>
<div class="d3-o-club-shortname">
            Rams

          </div>
</div>
</td>
<td>
                    477
                  </td>
<td>
                    2045
                  </td>
<td>
                    4.3
                  </td>
<td>
                    18
                  </td>
<td>
                    11
                  </td>
<td>
                    1
                  </td>
<td>
                    56
                  </td>
<td>
                    110
                  </td>
<td>
                    23.1
                  </td>
<td>
                    2
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ARI"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ARI"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ARI"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/ARI"/></picture>
</div>
<div class="d3-o-club-fullname">
            Cardinals

          </div>
<div class="d3-o-club-shortname">
            Cardinals

          </div>
</div>
</td>
<td>
                    471
                  </td>
<td>
                    2365
                  </td>
<td>
                    5
                  </td>
<td>
                    17
                  </td>
<td>
                    23
                  </td>
<td>
                    5
                  </td>
<td>
                    49
                  </td>
<td>
                    127
                  </td>
<td>
                    27
                  </td>
<td>
                    9
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/DAL"/></picture>
</div>
<div class="d3-o-club-fullname">
            Cowboys

          </div>
<div class="d3-o-club-shortname">
            Cowboys

          </div>
</div>
</td>
<td>
                    468
                  </td>
<td>
                    1920
                  </td>
<td>
                    4.1
                  </td>
<td>
                    14
                  </td>
<td>
                    12
                  </td>
<td>
                    1
                  </td>
<td>
                    46
                  </td>
<td>
                    113
                  </td>
<td>
                    24.2
                  </td>
<td>
                    4
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">
<div class="d3-o-club-info">
<div class="d3-o-club-logo">
<picture><!--[if IE 9]><video style="display: none; "><![endif]--><source media="(min-width:1024px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIA"/><source media="(min-width:768px)" srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIA"/><source srcset="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIA"/><!--[if IE 9]></video><![endif]--><img alt="" class="img-responsive" src="https://static.www.nfl.com/t_q-best/league/api/clubs/logos/MIA"/></picture>
</div>
<div class="d3-o-club-fullname">
            Dolphins

          </div>
<div class="d3-o-club-shortname">
            Dolphins

          </div>
</div>
</td>
<td>
                    456
                  </td>
<td>
                    2308
                  </td>
<td>
                    5.1
                  </td>
<td>
                    27
                  </td>
<td>
                    17
                  </td>
<td>
                    8
                  </td>
<td>
                    76T
                  </td>
<td>
                    113
                  </td>
<td>
                    24.8
                  </td>
<td>
                    13
                  </td>
</tr>
<tr>
<td scope="row" tabindex="0">

In [4]:
columns = soup.findAll('th')

print(columns)

[<th>Team</th>, <th scope="col">Att</th>, <th scope="col">Rush Yds</th>, <th scope="col">YPC</th>, <th scope="col">TD</th>, <th scope="col">20+</th>, <th scope="col">40+</th>, <th scope="col">Lng</th>, <th scope="col">Rush 1st</th>, <th scope="col">Rush 1st%</th>, <th scope="col">Rush FUM</th>]

In [11]:
df = pd.DataFrame(columns=['Team', 'Rush Att', 'Rush Yds', 'YPC',
                           'Rush TD', 'Rush 20+', 'Rush 40+', 'Rush Lng', 'Rush 1st',
                           'Rush 1st%', 'Rush Fum'])

In [8]:
def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '',text)

In [12]:
for row in table.find_all('tr'):
    c = row.find_all('td')
    
    if (c != []):
        name = remove_html_tags(str(c[0])).replace('\n','')
        att = remove_html_tags(str(c[1])).replace('\n','')
        rush_yards = remove_html_tags(str(c[2])).replace('\n','')
        ypc = remove_html_tags(str(c[3])).replace('\n','')
        td = remove_html_tags(str(c[4])).replace('\n','')
        twentyP = remove_html_tags(str(c[5])).replace('\n','')
        fourtyP = remove_html_tags(str(c[6])).replace('\n','')
        lng = remove_html_tags(str(c[7])).replace('\n','')
        rush_first_down = remove_html_tags(str(c[8])).replace('\n','')
        rush_first_down_perc = remove_html_tags(str(c[9])).replace('\n','')
        fumbles = remove_html_tags(str(c[10])).replace('\n','')

        
        df = pd.concat([df, pd.DataFrame.from_records([{'Team':name, 'Rush Att':att, 'Rush Yds':rush_yards, 'YPC':ypc,
                           'Rush TD':td, 'Rush 20+':twentyP, 'Rush 40+':fourtyP, 'Rush Lng':lng,
                           'Rush 1st':rush_first_down,'Rush 1st%':rush_first_down_perc,
                           'Rush Fum':fumbles}])], ignore_index=True)

df.head()

,Team,Rush Att,Rush Yds,YPC,Rush TD,Rush 20+,Rush 40+,Rush Lng,Rush 1st,Rush 1st%,Rush Fum
0,Ravens ...,541,2661,4.9,26,21,4,60,144,26.6,7
1,Bears ...,534,2399,4.5,16,13,0,39T,137,25.7,5
2,Falcons ...,522,2159,4.1,14,11,0,38,121,23.2,13
3,Browns ...,518,2017,3.9,15,9,3,69,121,23.4,9
4,Bills ...,512,2212,4.3,22,9,1,42,158,30.9,9

function that will be used to determine the efficiency of the teams rushing stats (its an arbitrary value)

NOTE: function variables and how it determines the rating does need fine tuning

In [22]:
#def passer_rating(comp, attempts, tds, yards, inrcpts):
#    return round(((((comp / attempts) - 0.3) * 5) 
#                  + (((yards / attempts) - 3) * 0.25) + ((tds / attempts) * 20) 
#                  + (2.375 - ((inrcpts / attempts) * 25))) / (6/100), 2)


def rushing_rating(ypc, tds, fumbles, attempts, yards):
    return round(((((yards / attempts) - 3) * 0.25) 
                  + ((tds / attempts) * 20) 
                  + (6.375 - ((fumbles / attempts) * 25))) / (6/100), 2)

In [23]:

print(rushing_rating(4.9,26,7,541, 2661))

124.87